*{box-sizing: border-box;
  margin: 0;
  height: 100%;
}

#left {
  float: left;
  border: black thin solid;
  width: 25%;
  background-color: red;
  height: 100%;
}
#top {
  float: left;
  border: black thin solid;
  width: 100%;
  background-color: yellow;
  height: 25%;
  text-align: center;
  font-size: 150px;
}
#right {
  float: right;
  border: black thin solid;
  width: 25%;
  background-color: blue;
  height:100%;
}
#outside {
  float: left;
  width: 75%;
  height: 100%;
}
#inside {
  float: left;
  border: black thin solid;
  width: 100%;
  height: 75%;
}
#content {
  float: left;
  border: black thin solid;
  width: 75%;
  height: 100%;
}
#content-left {
  float: left;
  border: black thin solid;
  width: 50%;
  background-color: green;
  height: 75%;
}
#content-right {
  float: left;
  border: black thin solid;
  width: 50%;
  background-color: green;
  height: 75%;
  text-align: center;
  font-size: 30px;
}
#content-bottom {
  border: black thin solid;
  background-color: orange;
  width: 100%;
  float: left;
  height: 25%;
}
